@charset "utf-8";
@import "_setting";

.footer {
  margin: 40px 0 0;
  text-align: center;
  font-size: 15px;
  padding: 12px 0;
  span {
    color: var(--c_fg);
  }
  a {
    color: var(--c_main);
  }
}
