@charset "utf-8";
@import "_setting";

ul.profile_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  li {
    flex: 1;
    margin-right: 20px;
    @include sp {
      margin-right: 2vw;
    }
    &:last-child {
      margin-right: 0;
    }
    a.profile_list_item {
      display: block;
      width: 100%;
      text-align: center;
      border-radius: 8px;
      padding: 8px 0;
      transition-duration: 0.4s;
      color: var(--c_main);
      background-color: var(--c_sub);
      @include sp {
        padding: 0.4vw 0;
        border-radius: 0.8vw;
      }
      @include pc {
        &:hover {
          opacity: 1;
          transform: translateY(-3px);
        }
      }
      .text {
        display: inline-block;
        text-align: left;
        @include rem(18);
        margin: 12px 0;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        @include sp {
          margin: 1.2vw 0;
          @include rem(14);
          overflow-y: hidden;
          max-height: 12vw;
        }
      }
    }
  }

}