@charset "UTF-8";
.postDate {
  padding: 0 0 0.3rem;
  font-size: 14px;
  color: var(--c_main);
  margin-right: 12px;
}
.postDate::before {
  content: "▶";
  padding-right: 4px;
}

.postTags {
  position: relative;
  font-size: 12px;
  bottom: 2px;
}
.postTags a {
  padding: 2px 5px;
  color: var(--c_main);
  background: var(--c_white);
  text-decoration: none;
}
.postTags a::before {
  content: "#";
}

.postTitle {
  margin-top: 1.6rem;
  font-size: 30px;
  color: var(--c_main);
}
@media screen and (max-width: 750px) {
  .postTitle {
    font-size: 1.2rem;
  }
}

.postExcerpt {
  padding: 0.4rem 0;
  font-size: 1rem;
}

.postBody {
  padding: 0.5rem 0;
}

.readMoreLink {
  color: var(--fg);
}
.readMoreLink a {
  display: block;
  width: 30%;
  margin: 1rem auto 0;
  border: 1px solid var(--accents-2);
  color: inherit;
  font-size: 0.85rem;
  text-align: center;
  line-height: 3rem;
}
@media screen and (max-width: 750px) {
  .readMoreLink a {
    width: 50%;
  }
}

.nextPageLink {
  color: var(--fg);
}
.nextPageLink a {
  display: block;
  width: 30%;
  margin: 0 auto;
  border: 1px solid var(--accents-2);
  color: inherit;
  font-size: 0.85rem;
  text-align: center;
  line-height: 3rem;
}
@media screen and (max-width: 750px) {
  .nextPageLink a {
    width: 50%;
  }
}

.blogPostLink, .blogTagLink {
  background: var(--c_bg);
  padding: 20px;
  margin-bottom: 20px;
}
.blogPostLink h3, .blogTagLink h3 {
  margin: 0;
}
.blogPostLink ul, .blogTagLink ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0.3rem;
  margin-bottom: 0;
}
.blogPostLink ul li, .blogTagLink ul li {
  position: relative;
  padding: 0.4rem 0;
  line-height: 1.5;
}
.blogPostLink ul li a, .blogTagLink ul li a {
  font-size: 0.95rem;
  text-decoration: none;
  color: var(--c_fg);
}

.blogTagLink {
  margin-bottom: 0;
}

@media screen and (max-width: 750px) {
  .tag {
    font-size: 0.75rem;
    padding-right: 0.75rem;
  }
  .post a.expandButton {
    width: 50%;
  }
  .post .caption {
    font-size: 0.9rem;
  }
  .nextContainer {
    padding: 0;
  }
  .nextContainer a.nextButton {
    width: 50%;
  }
}
.blogIndex.postDate {
  padding: 0;
  margin-right: 12px;
}

.blogIndex.postTitle {
  margin-top: 6px;
}