.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  padding: 0 3%;
  margin: 0 auto;
  margin-top: 1.1rem;
}
@media screen and (max-width: 750px) {
  .container {
    display: block;
    margin-top: 10px;
  }
}

.mainContent {
  width: 60%;
  padding: 40px;
  background: var(--c_bg);
}
@media screen and (max-width: 750px) {
  .mainContent {
    width: 100%;
    padding: 4%;
  }
}
.mainContent header {
  padding: 0 0 1.1rem;
  text-align: center;
}
.mainContent footer {
  border-top: 1px dashed #888;
  margin: 0 auto;
  padding: 40px 0 0;
}
@media screen and (max-width: 750px) {
  .mainContent footer {
    margin: 0 auto 40px;
  }
}

.subContent {
  width: calc(40% - 1.1rem);
}
@media screen and (max-width: 750px) {
  .subContent {
    width: 100%;
    margin-top: 1.1rem;
  }
}

.post {
  margin: 0 auto 40px;
}
.post:last-child {
  margin: 0 auto;
}
.post a {
  text-decoration: none;
}
.post :global(h3) {
  margin: 0;
}
.post :global(h3) a {
  color: var(--c_fg);
  text-decoration: none;
  font-size: 18px;
}
.post :global(h4) {
  margin: 1.8rem 0 0.8rem;
  padding-left: 4px;
  color: var(--c_white);
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ffc1c1), to(#ff7ab4));
  background: linear-gradient(to right, #ffc1c1, #ff7ab4);
}
.post :global(h5) {
  margin: 1.8rem 0 0.8rem;
  color: var(--c_main);
  font-size: 1.1rem;
  font-weight: bold;
}
.post :global(h6) {
  margin: 1.8rem 0 0.8rem;
  color: var(--c_fg);
  font-size: 1.1rem;
}
.post :global(p) {
  margin: 0.3rem 0;
  font-size: 1rem;
  line-height: 1.35;
}
.post :global(video),
.post :global(img) {
  max-width: 100%;
  display: inline-block;
}
.post :global(blockquote) {
  margin: 0.6rem 0;
  padding: 0 0.9rem;
  border-left: 3px solid var(--c_main);
  font-size: 1rem;
  line-height: 1.8rem;
}
.post table {
  margin: 1rem 0;
}
.post footer {
  padding: 0;
  border: 0;
}