.header {
  display: block;
  border-top: solid 4px var(--c_main);
  padding: 20px 0;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .header {
    padding: 3.5vw 0;
  }
}
.header h1 {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
  left: 3%;
  height: 4vw;
  max-height: 20px;
  width: auto;
  background: url("../public/logo_bankas.svg") no-repeat center left;
  background-size: contain;
}
.header h1 a {
  display: block;
  height: 100%;
  color: transparent;
}
.header ul {
  list-style: none;
  margin: inherit;
  font-size: 1.1rem;
  max-width: 1400px;
  text-align: left;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 3%;
}
.header ul li {
  display: inline-block;
  padding: 0 15px;
}
.header ul li :global(a.active) {
  color: var(--c_main);
}
.header ul li a {
  color: var(--c_main);
  text-decoration: none;
}