@charset "UTF-8";
.caption {
  margin-top: 8px;
  font-size: 0.9rem;
  color: var(--accents-3);
  text-align: center;
}

.image {
  margin: 0 auto;
}

.image > div:first-child {
  text-align: center;
}

.equation {
  overflow-x: scroll;
}

.code {
  display: block;
  width: 100%;
  padding: 1rem 12px;
  font-size: 0.9rem;
  background: var(--c_gray);
  overflow-x: scroll;
}
.code .pre {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  line-height: 1.25;
}

.pre {
  display: block;
  overflow: auto;
  padding: 0.8rem;
  background: var(--c_gray);
}
.pre .code {
  color: var(--c_fg);
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.25;
  background: var(--c_gray);
  font-family: "Lato", sans-serif, YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}

.gray, .gray:hover {
  color: rgb(120, 119, 116);
}

.brown, .brown:hover {
  color: rgb(159, 107, 83);
}

.orange, .orange:hover {
  color: rgb(217, 115, 13);
}

.yellow, .yellow:hover {
  color: rgb(203, 145, 47);
}

.green, .green:hover {
  color: rgb(68, 131, 97);
}

.blue, .blue:hover {
  color: rgb(51, 126, 169);
}

.purple, .purple:hover {
  color: rgb(144, 101, 176);
}

.pink, .pink:hover {
  color: rgb(193, 76, 138);
}

.red, .red:hover {
  color: rgb(212, 76, 71);
}

.grayBackground {
  background: rgb(241, 241, 239) !important;
}

.brownBackground {
  background: rgb(244, 238, 238) !important;
}

.orangeBackground {
  background: rgb(251, 236, 221) !important;
}

.yellowBackground {
  background: rgb(251, 243, 219) !important;
}

.greenBackground {
  background: rgb(237, 243, 236) !important;
}

.blueBackground {
  background: rgb(231, 243, 248) !important;
}

.purpleBackground {
  background: rgba(244, 240, 247, 0.8) !important;
}

.pinkBackground {
  background: rgba(249, 238, 243, 0.8) !important;
}

.redBackground {
  background: rgb(253, 235, 236) !important;
}

.callout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
  padding: 16px 12px;
  font-size: 0.95rem;
  line-height: 1.6rem;
  background: var(--c_gray);
}
.callout div {
  margin: 0;
  line-height: 1.25;
}
.callout div:first-child {
  margin-right: 0.7rem;
}

.table {
  display: grid;
  border-collapse: collapse;
}
.table tbody {
  background-color: var(--c_white);
}
.table tr {
  vertical-align: middle;
}
.table th {
  background-color: #e6ecf7;
}
.table td,
.table th {
  padding: 5px 10px;
}

.columnList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 1rem auto;
  gap: 0 1rem;
}
.columnList > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 180px;
          flex: 1 1 180px;
  width: 180px;
}
@media screen and (max-width: 750px) {
  .columnList {
    display: block;
  }
  .columnList > div {
    width: 100%;
  }
}

.toDo {
  color: #222;
  font-weight: 400;
  line-height: 1.25;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
}
.toDo input {
  background: var(--c_main);
}

.bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  font-size: 0.9rem;
  background-color: var(--c_white);
}
.bookmark > a {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  border: 1px solid rgba(55, 53, 47, 0.16);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.bookmark > a > div:first-child {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 180px;
          flex: 4 1 180px;
  padding: 12px 14px 14px;
  overflow: hidden;
  text-align: left;
  color: var(--c_fg_sub);
}
.bookmark > a > div:first-child > div:first-child {
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 24px;
  margin-bottom: 2px;
}
.bookmark > a > div:first-child > div:nth-child(2) {
  font-size: 12px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
  color: var(--c_fg_sub);
  display: none;
}
.bookmark > a > div:first-child > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
}
.bookmark > a > div:first-child > div:last-child > div:first-child {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-right: 6px;
}
.bookmark > a > div:first-child > div:last-child > div:first-child > img {
  max-width: 100%;
  display: inline-block;
}
.bookmark > a > div:first-child > div:last-child > div:last-child {
  font-size: 12px;
  line-height: 16px;
  color: var(--fg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bookmark > a > div:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 180px;
          flex: 1 1 180px;
  position: relative;
}
@media screen and (max-width: 750px) {
  .bookmark > a > div:last-child {
    display: none;
  }
}
.bookmark > a > a > div:last-child > img {
  position: absolute !important;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.toggle > summary {
  cursor: pointer;
}

.tweetEmbed {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.tweetEmbed div:first-child div:first-child {
  margin: auto;
}

.video .youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.video .youtube :first-child {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.tableOfContents {
  padding: 24px 20px;
  background: var(--c_sub);
}
@media screen and (max-width: 750px) {
  .tableOfContents {
    padding: 4%;
  }
}
.tableOfContents::before {
  display: block;
  content: "目次";
  color: var(--c_main);
  font-weight: bold;
  padding-bottom: 4px;
}
.tableOfContents a {
  display: block;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  line-height: 1.5;
  text-indent: 1em;
  color: var(--c_fg);
  text-decoration: none;
  margin-bottom: 8px;
}
.tableOfContents a::before {
  display: block;
  content: "・";
  position: absolute;
  text-align: center;
  left: -1em;
  color: var(--c_main);
}
.tableOfContents a:last-child {
  margin-bottom: 0;
}