ul.profile_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-left: 0;
}
ul.profile_list li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
@media screen and (max-width: 750px) {
  ul.profile_list li {
    margin-right: 2vw;
  }
}
ul.profile_list li:last-child {
  margin-right: 0;
}
ul.profile_list li a.profile_list_item {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 750px) {
  ul.profile_list li a.profile_list_item {
    border-radius: 0.8vw;
  }
}
ul.profile_list li a.profile_list_item.twitter {
  color: #0e73ba;
  background-color: #f8fbff;
  -webkit-box-shadow: 3px 3px 0 #3e8fc8;
          box-shadow: 3px 3px 0 #3e8fc8;
}
@media screen and (max-width: 750px) {
  ul.profile_list li a.profile_list_item.twitter {
    -webkit-box-shadow: 0.6vw 0.6vw 0 #3e8fc8;
            box-shadow: 0.6vw 0.6vw 0 #3e8fc8;
  }
}
ul.profile_list li a.profile_list_item.blogwp {
  color: #bc3d10;
  background-color: #fffcf3;
  -webkit-box-shadow: 3px 3px 0 #f99355;
          box-shadow: 3px 3px 0 #f99355;
}
@media screen and (max-width: 750px) {
  ul.profile_list li a.profile_list_item.blogwp {
    -webkit-box-shadow: 0.6vw 0.6vw 0 #f99355;
            box-shadow: 0.6vw 0.6vw 0 #f99355;
  }
}
ul.profile_list li a.profile_list_item.webwp {
  color: #516ea1;
  background-color: #f4f7fa;
  -webkit-box-shadow: 3px 3px 0 #748bb4;
          box-shadow: 3px 3px 0 #748bb4;
}
@media screen and (max-width: 750px) {
  ul.profile_list li a.profile_list_item.webwp {
    -webkit-box-shadow: 0.6vw 0.6vw 0 #748bb4;
            box-shadow: 0.6vw 0.6vw 0 #748bb4;
  }
}
ul.profile_list li a.profile_list_item.github {
  color: var(--c_red);
  background-color: var(--c_bg);
  -webkit-box-shadow: 3px 3px 0 #cf5e5e;
          box-shadow: 3px 3px 0 #cf5e5e;
}
@media screen and (max-width: 750px) {
  ul.profile_list li a.profile_list_item.github {
    -webkit-box-shadow: 0.6vw 0.6vw 0 #cf5e5e;
            box-shadow: 0.6vw 0.6vw 0 #cf5e5e;
  }
}
@media screen and (min-width: 751px) {
  ul.profile_list li a.profile_list_item:hover {
    opacity: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}
ul.profile_list li a.profile_list_item .text {
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-size: 1.125rem;
  margin: 12px 0;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
@media screen and (max-width: 750px) {
  ul.profile_list li a.profile_list_item .text {
    margin: 1.2vw 0;
    font-size: 14px;
    font-size: 0.875rem;
    overflow-y: hidden;
    max-height: 12vw;
  }
}
ul.profile_list li a.profile_list_item .text span {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
@media screen and (max-width: 750px) {
  ul.profile_list li a.profile_list_item .text span {
    font-size: 10px;
    font-size: 0.625rem;
  }
}